[user]
	name = liyi3
	email = liyi8576@gmail.com
[github]
[core]
	editor = code -w
	excludesfile = /Users/liyi/.gitignore_global
	quotepath = false
	autocrlf = false
	editor = code
	editor = code -w
	editor = code -w
[color]
	ui = true
[merge]
	tool = code
    conflictstyle = diff3
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[commit]
	template = /Users/liyi/.git_commit_template
[diff]
	tool =  Kaleidoscope 
	guitool = Kaleidoscope
[difftool]
    prompt = false
[mergetool]
    prompt = false
[merge]
    tool = Kaleidoscope
    guitool = Kaleidoscope
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
