"*":
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "image-view"
      "git-diff"
    ]
    telemetryConsent: "no"
    useProxySettingsWhenCallingApm: false
  "exception-reporting":
    userId: "8d02a07a-5a70-41d3-8665-61f0accaeb7b"
  "spell-check":
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
".source.yaml":
  editor:
    autoIndentOnPaste: true
